{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block head_title %} Bem Vindo | {{ block.super }} {% endblock %}


{% block jumbotron %}
    <div class="jumbotron">
        <div class="row">
            <div class="col-sm-6">
                <h1>Conhecendo Django</h1>
                <p class="lead text-align-center">Projeto básico com o intuito de me aprofundar no framework e na linguagem</p>
                <a class="btn btn-lg btn-dark" href="http://github.com/RodrigoBLima" role="button">Meu repositório &raquo;</a>
            </div>
            <div class="col-sm-6" style="background-color:black;height:300px ;"></div>
        </div>
    </div>
{% endblock %}




{% block content %}
<div class="row">
    <div class="col-sm-6 col-xs-12 col-md-4 pull-right">
            <p class="lead text-align-center">{{ titulo }}</p>
            <form action="" method="POST">{% csrf_token %}
                {{ el_form|crispy }}
                    
               <input type="submit" class="btn btn-lg btn-dark" value="Cadastrar"  />
            </form>
    </div>
</div>

        
{% endblock %}
